*.dll
Binaries
Intermediate
*.sln
*.sdf
*.suo
*.opensdf
*.sdf
Saved
Saved/Autosaves/PackageRestoreData.json
Saved/Autosaves/PackageRestoreData.json
Saved/Autosaves/PackageRestoreData.json
Saved/Config/Windows/EditorUserSettings.ini
Saved/Logs/FFMProject.log